:root {
  --primary-color-container: white;
  /* --primary-color-background: #e4e5e9; */
  --primary-color-button: rgba(128, 128, 128, 0.147);
  --primary-color-button: white;
  --primary-color-theme:rgb(78, 99, 117);

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
  scroll-behavior: smooth; */
  font-family: "Lato", sans-serif;
}
nav {
  position: absolute;
  /* border: 1px solid red; */
  height: 8vh;
  padding: auto;
  width: 100%;
  background-color: var(--primary-color-theme);
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  color: white;
  font-size: 1.3em;
}
a{
  text-decoration: none;
  color: white;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 5%;
  /* margin: auto 3%; */
}
nav li ul,
a {
  cursor: pointer;
  margin: 14px;
  font-size: 1.2em;
}
nav li ul a:hover{
  color: black;
}

p {
  font-family: "Lato";
  font-size: x-large;
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
  
}

#particles-js {
  position: fixed;
  /* left: 0; */
  top: 100%;
  height: 100vh;
  /* bottom: 0; */
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
}
.svgimage {
  /* border: 1px solid red; */
  transform: translate(-16vh, 50vh);
  min-width: 20vw;
  height: 12vh;
  animation: animateright 1.3s ease-out;
}
.svgimage img{
  transition: all 0.4s;
}
.svgimage img:hover {
  transform: scale(1.2);
}

.intro {
  /* border: 1px solid red; */
  margin-right: 31%;
}
.intro h1 {
  margin: 40px;
  animation: animateleft 1.3s ease-out;
}
.intro .introtext {
  margin: auto 40px;
  animation: animatetop 1.4s ease-out;
}
h1{
  font-size: 4em;
}
.theory {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* margin: auto; */
  padding: 5vw;
  /*   
  .introduction {
    padding: 5vh;
  } */
}
.visualizer {
  height: 100vh;
  background-color: rgba(162, 169, 173, 0.8);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container1 {
  background-color: rgba(255, 255, 255, 0.9);
}
.container1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  height: 8%;
  width: auto;
  max-width: 90%;
}
/*Common For Container and Theory*/
.container1 {
  padding: 16%;
  /* width: auto; */
  /* height: 100%; */
  margin: auto;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}
.container{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.barsContainer{
    border: 1px solid black;
}
.bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 700px;
    background-color: #f5f5f5;
    margin: 10px auto;
  }
  /* Add style for 'comparing' class */
.bar.comparing {
  background-color: red;
}
/* Add style for 'comparing' class */
.bar.comparing {
  background-color: red;
}

  
  .bar {
    width: 25px;
    margin: 0 5px;
    background-color:black;
  }
  
  .buttons-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
   flex-direction: row;
   margin-top: 30px;
   gap: 50px;
  
  }
  
  .buttons-container button {
    padding: 10px 20px;
    height: 40px;
    outline: none;
    border: 1px solid #333;
    font-size: 1em;
    overflow: hidden;
    background-color: rgba(162, 169, 173, 0.3);
    border-radius: 20px;
    font-family: sans-serif;
    cursor: pointer;

  }
  
/* Animations */
@keyframes animateleft {
  0% {
    transform: translate(-100vw);
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animations */
@keyframes animatetop {
  0% {
    transform: translateY(100vw);
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animations */
@keyframes animateright {
  0% {
    transform: translate(160vh, 50vh);
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translate(-16vh, 50vh);
    opacity: 1;
  }
}
  
